<section class="slider">
    <div class="slider-item">
        <a href="img/portfolio/portfolio-big.png" data-lightbox="mygallery">
            <img src="img/portfolio/portfolio.png" class="slider-img">
        </a>
    </div>
    <div class="slider-item">
        <a href="img/portfolio/portfolio-big.png" data-lightbox="mygallery">
            <img src="img/portfolio/portfolio.png" class="slider-img">
        </a>
    </div>
    <div class="slider-item">
        <a href="img/portfolio/portfolio-big.png" data-lightbox="mygallery">
            <img src="img/portfolio/portfolio.png" class="slider-img">
        </a>
    </div>

    <div class="slider-item">
        <a href="img/portfolio/portfolio-big.png" data-lightbox="mygallery">
            <img src="img/portfolio/portfolio.png" class="slider-img">
        </a>
    </div>

    <div class="slider-item">
        <a href="img/portfolio/portfolio-big.png" data-lightbox="mygallery">
            <img src="img/portfolio/portfolio.png" class="slider-img">
        </a>
    </div>

    <div class="slider-item">
        <a href="img/portfolio/portfolio-big.png" data-lightbox="mygallery">
            <img src="img/portfolio/portfolio.png" class="slider-img">
        </a>
    </div>
</section>