<section id="about-description">
    <div class="row">
        <div class="col-lg-8">
            <div class="path">Главная-О компании</div>
            <div class="description-title">О компании</div>
            <div class="description">Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской для предварительного просмотра макета и визуальных макетах. Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской индустрии для предварительного просмотра макета и визуальных макетах. Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской для предварительного просмотра макета и визуальных макетах.</div>
        </div>
        <div class="col-lg-4">
            <div class="multi-layered-img">
                <img src="img/about/rectangle.png" class="second-img">
                <img src="img/about/about.png" class="first-img">
            </div>
        </div>
    </div>
</section>
