<section class="achievements-slider">
    <div class="slider-item">
        <a data-lightbox="mygallery" href="img/achievements-slider/achievement-1.jpg">
            <img src="img/achievements-slider/achievement-1.jpg" class="slider-img">
        </a>
    </div>
    <div class="slider-item">
        <a data-lightbox="mygallery" href="img/achievements-slider/achievement-2.png">
            <img src="img/achievements-slider/achievement-2.png" class="slider-img">
        </a>
    </div>
    <div class="slider-item">
         <a data-lightbox="mygallery" href="img/achievements-slider/achievement-3.jpeg">
            <img src="img/achievements-slider/achievement-3.jpeg" class="slider-img">
         </a>
    </div>
    <div class="slider-item">
         <a data-lightbox="mygallery" href="img/achievements-slider/achievement-4.png">
            <img src="img/achievements-slider/achievement-4.png" class="slider-img">
        </a>
    </div>
    <div class="slider-item">
         <a data-lightbox="mygallery" href="img/achievements-slider/achievement-5.png">
            <img src="img/achievements-slider/achievement-5.png" class="slider-img">
        </a>
    </div>
</section>