<section class="specific-service-description">
    <div class="row">
        <div class="col-lg-6">
            <div class="description-title">Услуги</div>
            <div class="content">
                <div class="subtitle">Lorem Ipsum</div>
                <div class="description">является текст-заполнитель обычно используется в графических, печать и издательской для предварительного просмотра макета и визуальных макетах. Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской индустрии для предварительного просмотра макета и визуальных макетах. Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской для предварительного просмотра макета и визуальных макетах.Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской для предварительного просмотра макета и визуальных макетах </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="img-with-footer">
                <img src="img/specific-service.png">
                <div class="img-footer">
                    <i class="fas fa-money-bill-wave"></i>
                    27 000 Р
                </div>
            </div>
        </div>
    </div>
</section>