<section id="icons-area">
   <div class="container">
   <div class="row">
       <div class="col-lg-3">
           <img src="img/icons/icon-1.png">
           <p>Нам доверяют <b>30</b> <br>крупных компаний</p>
       </div>
       <div class="col-lg-3">
           <img src="img/icons/icon-2.png">
           <p>У нас на счету более <br><b>400</b> довольных <br>клиентов</p>
       </div>
       <div class="col-lg-3">
           <img src="img/icons/icon-3.png">
           <p>О нас написали более <br><b>200</b> положительных <br>отзывов</p>
       </div>
       <div class="col-lg-3">
           <img src="img/icons/icon-4.png">
           <p>Мы входим в топ <b>10</b> <br>строительных <br>компаний города</p>
       </div>
   </div>
   </div>
</section>