<section id="portfolio">
    <div class="main-title">Портфолио</div>
    <div class="container">
        <div class="row">
            //= ../portfolio/portfolio-item-only-photo.html
            //= ../portfolio/portfolio-item-only-photo.html
            //= ../portfolio/portfolio-item-only-photo.html
            //= ../portfolio/portfolio-item-only-photo.html
            //= ../portfolio/portfolio-item-only-photo.html
            //= ../portfolio/portfolio-item-only-photo.html
        </div>
    </div>
    <button class="show-more">Все работы</button>
</section>