<section id="publicity-area">
    <div class="title">Доверьте ремонт <br>профессионалам </div>
    <div class="subtitle">а не нам</div>

   <form>
       <div class="form-header">
           <div class="form-title">Оставьте заявку</div>
           <div class="form-subtitle">наш менеджер перезвонит <br>вам в течении 20 минут</div>
       </div>

       <div class="form-content">
           <div class="form-group row">
                <label for="inputName" class="col-sm-2 col-form-label">
                    <img src="img/icons/user.png">
                    <!--<i class="fas fa-user"></i>-->
                </label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control" id="inputName" placeholder="Имя">
                </div>
          </div>
          <div class="form-group row">
            <label for="inputPhone" class="col-sm-2 col-form-label">
                <img src="img/icons/phone.png">
                <!--<i class="fas fa-phone fa-flip-horizontal">-->
            </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="phone" id="inputPhone" placeholder="Телефон">
            </div>
          </div>
            <button type="button" data-toggle="modal" data-target="#thanksModal">Отправить</button>
       </div>
   </form>

</section>