<section class="review-index">
    <div class="main-title">Контакты</div>
    <div class="container">
        <div class="row">
            //= ../review/review-item.html
            //= ../review/review-item.html
            //= ../review/review-item.html
        </div>
    </div>
</section>