<section id="work-types" class="">
   <div class="container"><div class="row">
       <div class="col-lg-4">
           <div class="one-type">
                <div class="title">Ремонт квартир “под ключ"</div>
               <div class="img">
                    <img src="img/country-house.jpg" class="img-responsive">
               </div>
               <ul class="list">
                    <li class="list-item">Стандартный ремонт</li>
                    <li class="list-item">Ремонт бизнес-класса</li>
                    <li class="list-item">Дизайнерский ремонт</li>
                </ul>
           </div>
       </div>
       <div class="col-lg-4">
           <div class="one-type">
                <div class="title">Ремонт квартир “под ключ"</div>
               <img src="img/repair.png">
               <ul class="list">
                    <li class="list-item">Стандартный ремонт</li>
                    <li class="list-item">Ремонт бизнес-класса</li>
                    <li class="list-item">Дизайнерский ремонт</li>
                </ul>
           </div>
       </div>
       <div class="col-lg-4">
           <div class="one-type">
                <div class="title">Ремонт квартир “под ключ"</div>
               <img src="img/repair.png">
               <ul class="list">
                    <li class="list-item">Стандартный ремонт</li>
                    <li class="list-item">Ремонт бизнес-класса</li>
                    <li class="list-item">Дизайнерский ремонт</li>
                </ul>
           </div>
       </div>
   </div></div>
</section>