<div class="modal fade" id="callModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
 <div  class="modal-dialog modal-dialog-centered" role="document">
   <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
        <div class="modal-title">Укажите ваш номер телефона </div>
        <p>Мы перезвоним вам в течении 20 минут</p>
        <input type="text" class="form-control" name="name" placeholder="Имя">
        <input type="text" class="form-control" name="phone" placeholder="Телефон">
        <button class="send-button" type="submit">Отправить</button>
   </div>
 </div>
</div>