<section id="contact-info">
    <div class="description-title">Наши Контакты</div>
    <p>Свяжитесь с нами сегодня, чтобы узнать как мы можем помочь вам.</p>

    <div class="list-contact">
        <div class="list-contact-item row">
            <div class="col-lg-3 col-md-2 col-sm-2 col-xs-6"><img src="img/contact/address.png"></div>
            <div class="contact-item col-lg-9 col-md-10 col-sm-10 col-xs-6">
                <div class="title">Наш адрес</div>
                <p>г. Томск, ул. Дизайнеров, д. 10</p>
            </div>
        </div>

        <div class="list-contact-item row">
            <div class="col-lg-3 col-md-2 col-sm-2 col-xs-3"><img src="img/contact/phone.png"></div>
            <div class="contact-item col-lg-9 col-md-10 col-sm-10 col-xs-6">
                <div class="title">Наш телефон</div>
                <p> +7 983 333 33 33 </p>
            </div>
        </div>

        <div class="list-contact-item row">
            <div class="col-lg-3 col-md-2 col-sm-2 col-xs-6"><img src="img/contact/mail.png"></div>
            <div class="contact-item col-lg-9 col-md-10 col-sm-10 col-xs-6">
                <div class="title">Наша почта</div>
                <p>123123123@gmail.com </p>
            </div>
        </div>
    </div>
</section>

<section class="question-form">
    <form>
       <div class="form-header">
           <div class="form-title">Есть вопрос? Напишите нам!</div>
       </div>
        <div class="form-content row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <input type="text" class="" id="inputName" placeholder="Имя">
                <input type="text" class="" id="inputPhone" placeholder="Телефон">
                <div class="d-lg-none d-xl-none">
                    <textarea type="message" class="message-bottom" placeholder="Сообщение"></textarea>
                </div>

                <button class="main-button" type="submit">Отправить</button>
            </div>
            <div class="col-lg-6 d-none d-lg-block">
                <textarea type="message" class="message-right" placeholder="Сообщение"></textarea>
            </div>
        </div>

    </form>
</section>