<section id="create-request">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 offset-lg-1">
                <form class="contact-form">
                   <div class="form-header">
                       <div class="form-title">Оставьте заявку</div>
                       <div class="form-subtitle">наш менеджер перезвонит <br>вам в течении 20 минут</div>
                   </div>
                    <div class="form-content">
                        <input type="text" name="name" class="form-control" id="inputName" placeholder="Имя" required>
                        <input type="text" name="phone" class="form-control" id="inputPhone" placeholder="Телефон" required>
                        <button type="submit" class="main-button">Отправить</button>
                    </div>

                </form>
            </div>
            <div class="col-lg-5 offset-lg-1 d-none d-lg-block">
                <img src="img/request.png">
            </div>
        </div>
    </div>
</section>