<footer>
    <div class="container footer-main-content">
        <div class="row">
            <div class="col-lg-2 logo d-none d-lg-block">
                <img src="img/logo/footerLogo.png" alt="">
            </div>
            <div class="col-lg-4 footer-navbar d-none d-lg-block">
                <ul class="row offset-lg-1">
                    <div class="col-lg-6">
                        <li><a class="active" href="#">Главная</a></li>
                    </div>
                    <div class="col-lg-6">
                        <li><a href="#">Контакты</a></li>
                    </div>
                    <div class="col-lg-6">
                        <li><a href="#">Услуги</a></li>
                    </div>
                    <div class="col-lg-6">
                        <li><a href="#">Портфолио</a></li>
                    </div>
                    <div class="col-lg-6">
                        <li><a href="#">О Компании</a></li>
                    </div>
                    <div class="col-lg-6">
                        <li><a href="#">Отзывы</a></li>
                    </div>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Контакты</div>
                <div class="footer-contacts">
                    <div class="contact-item">
                        <i class="fas fa-phone fa-flip-horizontal"></i>
                        <span>+7 983 333 33 33</span>
                    </div>
                    <div class="contact-item">
                        <i class="fas fa-map-marker-alt"></i>
                        <span>г. Томск, ул. Дизайнеров, д. 10</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                <div class="title">Соц. сети</div>
                <div class="footer-socials">
                    <div class="socials-item">
                        <a><i class="fab fa-vk"></i>vk.com/chinimstroim</a>
                    </div>
                    <div class="socials-item">
                        <a><i class="fab fa-instagram"></i>instagram.com/chinistroi</a>
                    </div>
                    <div class="socials-item">
                        <a><i class="fab fa-facebook-f"></i>facebook.com/chinistroi</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright"><i class="fas fa-star"></i>ВЕБ-СТУДИЯ ITROCKS 2018</div>
</footer>