<header>
  <section id="additional-information" class="container">
      <div class="logo ">
        <img src="img/logo/headerLogo.png" alt="логотип">
      </div>
      <div class="phone d-none d-lg-block">
          <i class="fas fa-phone"></i>
        +7 893 333 33 33
      </div>
      <div class="address d-none d-lg-block">
          <i class="fas fa-map-marker-alt "></i>
          г. Томск ул. Дизайнеров д. 10
      </div>
      <div class="call-order d-none d-lg-block">
          <button type="button" data-toggle="modal" data-target="#callModal">Заказать звонок</button>
      </div>
  </section>

   <nav class="navbar navbar-expand-lg">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
        aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-span"><i class="fas fa-bars fa-1x"></i></span>
      </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link active" href="index.html">Главная</a></li>
                <li class="nav-item"><a class="nav-link" href="services.html">Услуги</a></li>
                <li class="nav-item"><a class="nav-link" href="about.html">О Компании</a></li>
                <li class="nav-item"><a class="nav-link" href="contact.html">Контакты</a></li>
                <li class="nav-item"><a class="nav-link" href="portfolio.html">Портфолио</a></li>
                <li class="nav-item"><a class="nav-link" href="review.html">Отзывы</a></li>
            </ul>
        </div>
    </nav>
</header>