<section class="question-form">
    <form>
       <div class="form-header">
           <div class="form-title">Есть вопрос? Напишите нам!</div>
       </div>
        <div class="form-content row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <input type="text" class="" id="inputName" placeholder="Имя">
                <input type="text" class="" id="inputPhone" placeholder="Телефон">
                <div class="d-lg-none d-xl-none">
                    <textarea type="message" class="message-bottom" placeholder="Сообщение"></textarea>
                </div>

                <button class="main-button" type="submit">Отправить</button>
            </div>
            <div class="col-lg-6 d-none d-lg-block">
                <textarea type="message" class="message-right" placeholder="Сообщение"></textarea>
            </div>
        </div>

    </form>
</section>