<div class="modal fade" id="thanksModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
 <div  class="modal-dialog modal-dialog-centered" role="document">
   <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    <div class="row">
        <div class="col-sm-7">
            <div class="modal-title">Спасибо за обращение!</div>
            <p>В скором времени с вами свяжется наш менеджер</p>
        </div>
         <div class="col-sm-5">
            <img src="img/thanks.png">
        </div>
    </div>
   </div>
 </div>
</div>