<section class="container specific-portfolio-description">
    <div class="path">
        <a href="<?php echo $this->url(array(), '/static/index/home');?>">Главная - </a>Портфолио
    </div>
    <div class="description-title"><?php echo $this->item['title']; ?></div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="date">
                <i class="fas fa-calendar-alt"></i>
                <?php echo date('d.m.Y', strtotime($this->item['date']));?>
            </div>
            <div class="description">
                <?php echo stripslashes($this->item['description']); ?>
            </div>
        </div>
        <div class="col-lg-6  col-md-6 col-sm-12 col-xs-12">
<!--            первая картинка экземпляра портфолио-->
            <img class="description-img" src="<?php echo $this->baseUrl() . DIRECTORY_SEPARATOR . $this->item['images'][0]['image']; ?>">
        </div>
    </div>

    <section class="achievements-slider" style="margin-top: 60px">
        <?php foreach ($this->item['images'] as $image) : ?>
            <div class="slider-item">
                <a href="<?php echo $this->baseUrl() . DIRECTORY_SEPARATOR . $image['image']; ?>" data-lightbox="mygallery">
                    <img alt="" class="img-responsive slider-img" src="<?php echo $this->baseUrl() . DIRECTORY_SEPARATOR . $image['image']; ?>">
                </a>
            </div>
        <?php endforeach; ?>
    </section>
</section>

<?php echo $this->action('create-request', 'index', 'default');?>

<!--УБРАТЬ СТИЛИ В LESS-->