<section class="review-index">
    <div class="main-title">Контакты</div>
    <div class="container">
        <div class="row">
            <?php foreach ($this->paginator as $item) : ?>
                <div class="col-lg-4">
                <div class="review-item">
                    <div class="img">
                    <!-- Добавляем картиночку-->
                          <img src="<?php echo $this->baseUrl() .'/' . $this->reviewsImage($item['photo']);?>" class="img-responsive">
                    </div>
                    <div class="title"><?php echo $item['title']; ?></div>
                    <div class="message">
                        <?php echo $item['answer'];?>
                    </div>
                </div>
            </div>
            <?php endforeach; ?>
        </div>
    </div>
</section>