<section id="publicity-area" style="margin-top: 0!important;">
    <div class="title">Доверьте ремонт <br>профессионалам </div>
    <div class="subtitle">а не нам</div>
   <form>
       <div class="form-header">
           <div class="form-title">Оставьте заявку</div>
           <div class="form-subtitle">наш менеджер перезвонит <br>вам в течении 20 минут</div>
       </div>

       <div class="form-content">
           <div class="form-group row">
                <label for="inputName" class="col-sm-2 col-form-label">
                    <img src="<?php echo $this->baseUrl();?>/img/icons/user.png">
                </label>
                <div class="col-sm-10">
                    <input type="text" name="name" class="form-control" id="inputName" placeholder="Имя" required>
                </div>
          </div>
          <div class="form-group row">
            <label for="inputPhone" class="col-sm-2 col-form-label">
                <img src="<?php echo $this->baseUrl();?>/img/icons/phone.png">
            </label>
            <div class="col-sm-10">
              <input type="text" name="phone" class="form-control" id="inputPhone" placeholder="Телефон" required>
            </div>
          </div>

           <button type="submit" data-toggle="modal" data-target="#thanksModal">Отправить</button>

       </div>
   </form>

</section>