<!-- Page header -->
<div class="page-header">
    <div class="page-title">
        <h5><?php echo $this->translate('servicesEditing'); ?></h5>
        <span></span>
    </div>
</div>
<!-- /page header -->
<!-- Page form -->
<div class="widget row-fluid">
    <div class="well">
        <?php echo $this->form; ?>
    </div>
</div>
<!-- /Page form -->
<script type="text/javascript">
    CKEDITOR.replace('description');
</script>
<script>
    var module_id = '<?php echo $this->module_id;?>';
    var action_id = '<?php echo $this->action_id;?>';
    var post_id = '<?php echo $this->item->id; ?>';

    var getUrl = '<?php echo $this->url(array('controller' => 'uploader', 'action' => 'get-files'), 'default', true);?>';
    var deleteUrl = '<?php echo $this->url(array('controller' => 'uploader', 'action' => 'delete-file'), 'default', true);?>';
    var uploadUrl = '<?php echo $this->url(array('controller' => 'uploader', 'action' => 'upload-file'), 'default', true);?>';
</script>
<script src="<?php echo $this->baseUrl(); ?>/js/vue.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/js/uploader.js"></script>
