<section class="create-review" >
    <div class="container">
       <form class="review-form row">
           <div class="col-lg-4 offset-lg-1 col-md-12 col-sm-12 col-xs-12">
               <input type="text" class="" id="inputName" placeholder="Имя">
               <input type="text" class="" id="inputPhone" placeholder="Телефон">
               <div class="d-lg-none d-xl-none">
                   <textarea type="message" class="message-bottom" placeholder="Сообщение"></textarea>
               </div>
               <button class="main-button" type="submit">Отправить</button>
           </div>
           <div class="d-none d-lg-block col-lg-7 ">
               <textarea type="message" class="message-right" placeholder="Сообщение"></textarea>
           </div>
       </form>
    </div>
</section>