<div class="reviews">
    <div class="container">
        <div class="path">
            <a href="<?php echo $this->url(array(), '/static/index/home');?>">Главная - </a>Отзывы
        </div>
        <div class="description-title">Оставьте отзыв о нас</div>
    </div>

    <?php echo $this->action('create-review', 'index', 'reviews');?>

    <div class="container">
        <div class="row">
            <?php foreach ($this->paginator as $item) : ?>
                <div class="col-lg-4">
                <div class="review-item">
                    <div class="img">
                    <!-- Добавляем картиночку-->
                          <img src="<?php echo $this->baseUrl() .'/' . $this->reviewsImage($item['photo']);?>" class="img-responsive">
                    </div>
                    <div class="title"><?php echo $item['title']; ?></div>
                    <div class="message">
                        <?php echo $item['answer'];?>
                    </div>
                </div>
            </div>
            <?php endforeach; ?>
        </div>
    </div>

     <button class="show-more">Показать еще</button>
</div>

