
/*@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=cyrillic,cyrillic-ext');*/
/*@import "../../../bower_components/fontawesome/css/all.min.css";*/


/*body {*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*background-color: #fff;*/
    /*color: #5E5E5E;*/
    /*font-family: Open Sans, sans-serif !important;*/
    /*overflow-x:hidden;*/
/*}*/

/*a {*/
    /*text-decoration: none;*/
/*}*/

/*.additional-information{*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*flex-direction: row;*/

    /*font-size: 20px;*/
    /*text-align: center;*/
    /*height: 100px;*/
/*}*/

/*.additional-information .logo{*/
    /*flex-grow: 2;*/
/*}*/

/*.additional-information .phone{*/
    /*flex-grow: 3;*/
/*}*/

/*.additional-information .address{*/
    /*flex-grow: 4;*/
/*}*/

/*.additional-information .call-order{*/
    /*flex-grow: 3;*/
/*}*/

/*.additional-information .call-order button{*/
    /*width: 271px;*/
    /*height: 57px;*/
    /*background: #FFC702;*/
    /*color: #fff;*/
    /*text-transform: uppercase;*/
    /*font-weight: bold;*/
    /*font-size: 20px;*/
    /*text-align: center;*/
    /*border: none;*/
/*}*/

/*.navbar {*/
    /*height: 48px;*/
    /*width: 100%;*/
    /*text-align: center!important;*/

    /*!*background: @navbarBackgroundColor;*!*/
    /*background: #3A3A3A;*/
    /*box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);*/
/*}*/

/*.navbar ul {*/
    /*margin-right: auto;*/
    /*margin-left: auto;*/
/*}*/

/*.navbar ul li {*/
    /*margin-left: 20px;*/
    /*margin-right: 20px;*/
/*}*/

/*.navbar .nav-item .nav-link{;*/
    /*font-size: 15px;*/
    /*text-transform: capitalize;*/
    /*color: #FFFFFF;*/
/*}*/

/*.navbar .active-decorate {*/
    /*color: #FFC702 !important;*/
    /*border: #FFC702 solid 2px;*/
    /*border-top:none ;*/
    /*cursor: pointer;*/
    /*bottom: -2px!important;*/
    /*left: -12px;*/
    /*height: 10px;*/

    /*padding-bottom: 0!important;*/
/*}*/

/*.navbar .active a{*/
    /*color: #FFC702 !important;*/
/*}*/

/*.question-area{*/
    /*background-image: url("../img/index-img.png");*/
    /*height: 744px;*/
    /*padding-top: 45px;*/
    /*position: relative;*/
    /*text-align: center;*/
/*}*/

/*.question-area .title{*/
    /*font-weight: bold;*/
    /*font-size: 60px;*/
    /*color: #FFFFFF;*/
/*}*/

/*.question-area .subtitle{*/
    /*font-size: 20px;*/
    /*color: #FFFFFF;*/
/*}*/

/*.question-area form{*/
    /*margin-top: 20px;*/
    /*width: 443px;*/
    /*height: 360px;*/
    /*background: #FFFFFF;*/
    /*border: 2px solid #FFC702;*/
    /*box-sizing: border-box;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
/*}*/

/*.question-area form .form-header{*/
    /*height: 86px;*/
    /*background: #FFC702;*/
    /*color: #FFFFFF;*/
    /*line-height: normal;*/
    /*!*padding-top: 5px;*!*/
/*}*/

/*.question-area form .form-header .title{*/
    /*font-size: 25px;*/

/*}*/
/*.question-area form .form-header .subtitle{*/
    /*font-size: 17px;*/
/*}*/

/*.question-area form .content{*/
    /*padding: 60px 58px 37px 58px;*/
/*}*/

/*.question-area form .content input{*/
    /*height: 36px;*/
    /*background: #F6F6F6;*/
    /*border-radius: 0;*/
    /*border: none;*/
/*}*/

/*.question-area form .content .icon{*/
    /*!*margin: 5px;*!*/
/*}*/

/*form button{*/
    /*width: 196px;*/
    /*height: 38px;*/
    /*background: #FFC702;*/
    /*box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);*/
    /*margin-top: 23px;*/

    /*color: #fff;*/
    /*font-weight: bold;*/
    /*font-size: 18px;*/
    /*text-transform: uppercase;*/
    /*border: none;*/
/*}*/

/*.icons-area{*/
    /*padding-top: 35px;*/
    /*height: 297px;*/
    /*background: #FFD702;*/
    /*box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.3);*/

    /*text-align: center;*/
    /*font-size: 18px;*/
    /*color: #000000;*/
/*}*/

/*!*.icons-are p{*!*/
    /*!*font-size: 18px;*!*/
    /*!*color: #000000;*!*/
/*!*}*!*/

/*.repair-area {*/
    /*padding-top: 60px;*/
    /*background-image: linear-gradient(45deg, #4f4f4f, #4f4f4f), url("../img/index-img-2.png");*/
    /*background-blend-mode: multiply;*/
    /*height: 640px;*/
    /*text-align: center;*/
/*}*/

/*.repair-area .repair-one{*/
    /*padding-top: 27px;*/
    /*width: 345px;*/
    /*height: 493px;*/
    /*background: #FFFFFF;*/
    /*box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);*/
    /*margin-right: auto;*/
    /*margin-left: auto;*/
/*}*/

/*.repair-area .repair-one .title{*/
    /*font-weight: bold;*/
    /*font-size: 18px;*/
    /*text-transform: uppercase;*/
/*}*/

/*.repair-area .repair-one .list-group-item {*/
    /*color: #333333;*/
    /*font-size: 18px;*/
    /*border-bottom: 1px solid  #FFC702!important;*/
    /*padding-top: 10px;*/
    /*padding-bottom: 15px;*/
/*}*/
/*.repair-area .repair-one .list-group-item:last-child {*/
     /*border-bottom: 0 !important;*/
 /*}*/

/*.main-title{*/
    /*font-size: 25px;*/
    /*text-align: center;*/
    /*color: #333333;*/
    /*margin-bottom: 35px;*/
    /*margin-top: 35px;*/
    /*text-transform: uppercase;*/

/*}*/

/*#review .one-review{*/
    /*border-bottom: 1px solid #FFC702;*/
    /*border-right: 1px solid #FFC702;*/
    /*padding-bottom: 10px;*/
    /*padding-right: 10px;*/
    /*margin: 0;*/
/*}*/

/*#review .one-review img{*/
    /*margin-bottom: 5px;*/
    /*margin-right: 15px;*/
/*}*/

/*#review .one-review .user-name {*/
    /*font-weight: bold;*/
    /*font-size: 17px;*/
    /*line-height: 1.8;*/
    /*color: #3a3a3a;*/
/*}*/

/*#portfolio{*/
    /*text-align: center;*/
/*}*/

/*#portfolio .portfolio-item img{*/
    /*width: 100%;*/
    /*height: 320px;*/
/*}*/

/*#portfolio .portfolio-item:hover::after {*/
    /*content: "\f002";*/
    /*font-size: 32px;*/
    /*color: #FFC702;*/
    /*background-color: rgba(0,0,0,.5);*/
    /*display: block;*/
    /*position: absolute;*/
    /*top: 0px;*/
    /*width: 450px;*/
    /*height: 320px;*/
    /*!*width: 100% - paddind;*!*/
    /*padding-top: 130px;*/
    /*font-family: "Font Awesome 5 Free";*/
    /*font-weight: 900;*/
/*}*/

/*#portfolio .portfolio-item{*/
    /*margin-bottom: 35px !important;*/
/*}*/

/*#portfolio button {*/
    /*padding: 7px 22px 7px 22px;*/
    /*font-size: 18px;*/
    /*background: #FFC702;*/
    /*color: #fff;*/
    /*text-transform: uppercase;*/
    /*font-weight: bold;*/
    /*text-align: center;*/
    /*border: none;*/
/*}*/

/*footer {*/
    /*background-color: #242424;*/
    /*text-align: left;*/
    /*color: #c6c6c6;*/
    /*font-size: 18px;*/
/*}*/
/*footer .container > .row {*/
    /*height: 275px;*/
    /*padding-top: 35px;*/
/*}*/
/*footer.logo {*/
    /*padding-top: 15px;*/
/*}*/
/*footer .title {*/
  /*font-weight: bold;*/
  /*font-size: 20px;*/
  /*text-transform: capitalize;*/
  /*color: #fff;*/
  /*margin-bottom: 40px;*/
  /*}*/
 /*footer ul {*/
     /*list-style-type: none;*/
     /*padding-top: 68px;*/
     /*padding-left: 0;*/
 /*}*/
/*footer ul li {*/
    /*margin-bottom: 15px;*/
/*}*/
/*footer ul li a {*/
    /*color: #c6c6c6 !important;*/
    /*padding-bottom: 2px;*/
/*}*/
/*footer ul li a:hover, footer.active {*/
  /*text-decoration: none;*/
  /*cursor: pointer;*/
  /*border-bottom: 1px solid #c6c6c6;*/
/*}*/
/*footer i {*/
      /*margin-right: 15px;*/
  /*}*/
/*footer #contacts div {*/
    /*margin-bottom: 20px;*/
    /*padding-left: 0;*/
/*}*/
/*footer #contacts i {*/
      /*font-size: 14px;*/
  /*}*/
/*footer #socials div {*/
    /*margin-bottom: 20px;*/
/*}*/
/*footer #socials a:hover {*/
      /*color: #FFC702;*/
      /*cursor: pointer;*/
  /*}*/
/*footer #copyright {*/
    /*background-color: #121212;*/
    /*font-family: 'Roboto', sans-serif;*/
    /*color: #fff;*/
    /*text-transform: uppercase;*/
    /*font-size: 20px;*/
    /*text-align: center;*/
    /*height: 35px;*/
    /*line-height: 35px;*/
/*}*/
/*footer #copyright i {*/
      /*margin-right: 5px;*/
  /*}*/