
/* Bootstrap */
@import "../../../bower_components/bootstrap/dist/css/bootstrap.min.css";
@import "../../../bower_components/bootstrap/dist/css/bootstrap-grid.min.css";
@import "../../../bower_components/bootstrap/dist/css/bootstrap-reboot.min.css";
@import "../../../bower_components/lightbox2/dist/css/lightbox.min.css";

@import "../../../bower_components/slick-carousel/slick/slick.css";
@import "../../../bower_components/slick-carousel/slick/slick-theme.css";

@import "../../../bower_components/fontawesome/css/all.min.css";

/* Шрифт */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&subset=cyrillic,cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic,cyrillic-ext');

/* Переменные для цветов сайта */
@white: #ffffff;
@lightgrey: #5e5e5e;
@orange: #ffc702;
@lightorange: #ffd702;
@input-bg: #f6f6f6;


@header-color: #3a3a3a;

//Main button
@main-button-color: @orange;

//Main title
@title-color: #333333;
@title-size:25px;
@title-padding: 35px;


body{
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #5E5E5E;
    font-family: Open Sans, sans-serif !important;
    overflow-x: hidden;
    text-align: center;
    height: 100%;
}

ul{
    list-style: none;
}
a:hover{
    text-decoration: none;
}
button{
    cursor: pointer;
}
input{
    padding-left: 15px;
}
.path{
    text-align: left;
    font-size: 15px;
    color: #BCBCBC;
    margin: 21px 0 20px 0;
    width: 200px;
    a{
        color: #BCBCBC!important;
    }
}
.description{
    font-size: 20px;
    color: #3A3A3A;
    text-align: left;
}
.description-title{
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
    color: #000000;
    text-align: left;
    margin-bottom: 10px;
}
.main-button {
    background-color: @main-button-color;
    text-transform: uppercase;
    color: @white;
    border: 0;
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border: none;
    font-size: 14px;
}
.main-title {
    text-transform: uppercase;
    font-size: @title-size;
    //font-weight: bold;
    padding-bottom: @title-padding;
    padding-top: @title-padding;
    color: @title-color;
    text-align: center;
}
.map{
    width: 100%;
    margin-bottom: 70px;
}
.show-more{
    padding: 7px 22px 7px 22px;
    font-size: 18px;
    background: #FFC702;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    border: none;
    margin: 0 auto 40px auto;
}

.pagination {
    .pagination-list {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        li {
            display: inline-block;
            padding-top: 2px;
            a {
                margin-right: 10px;
                margin-left: 10px;
                color: #ffc702;
                font-size: 20px;
            }
        }
        .active {
            border: 2px solid #ffc702;
            a {
                color: #000 !important;
            }
        }
    }
}

/* Index */
@import "partials/header.less";
@import "partials/publicity-area.less";
@import "partials/icons-area.less";
@import "partials/work-types.less";
//@import "partials/portfolio.less";
@import "partials/footer.less";

//Services
@import "partials/side-bar.less";
@import "partials/service-description.less";
@import "partials/create-request.less";

//About
@import "partials/about-description.less";

//Contacts
@import "partials/contact-info.less";
@import "partials/question-form.less";

//Review
@import "partials/review-item.less";
@import "partials/create-review.less";

//Portfolio
@import "partials/portfolio-item.less";
@import "partials/specific-portfolio-description.less";

//Slider
@import "partials/slider.less";

//Modals
@import "partials/thanks-modal.less";
@import "partials/call-modal.less";

@import "partials/side-bar.less";