#contact-info{
    text-align: left;
    p{
        font-size: 18px;
        color: #686868;
    }

    .list-contact {
        .list-contact-item {
            margin-bottom: 20px;
            .contact-item {
                font-size: 18px;

                .title {
                    color: #3c3c3c;
                    font-weight: 600;
                }
                p {
                    color: #686868;
                }
            }
            img {
                width: 50px;
            }
        }
    }
}