#create-request{
    background: #F7F7F7;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
    margin-top: 80px;

    form{
        width: 324px;
        margin-top: 40px;

        .form-header{
            color: #353535;
            text-align: left;

            .form-title{
                font-size: 25px;
                font-weight: 600;
                margin-bottom: 5px;
            }
            .form-subtitle{
                font-size: 17px;
                line-height: 1.4;
                margin-bottom: 30px;
            }
        }

        .form-content{
            input {
                height: 36px;
                background: #fff;
                border-radius: 0;
                border: none;
                font-size: 14px;
                color: #9B9B9B;
            }
            input, .main-button{
                width: 100%!important;
                height: 35px;
                margin-bottom: 28px;
            }
        }
    }
}