@footer-bg-color: #242424;
@footer-title-color: @white;
@footer-height: 280px;

@copyright-color: @white;
@copyright-bg-color: #121212;
@copyright-text-size: 20px;
@copyright-height: 35px;

footer {
    background-color: @footer-bg-color;
    text-align: left;
    color: #c6c6c6;
    font-size: 18px;
    //height: @footer-height + @copyright-height;;

    .footer-main-content {
        //height: @footer-height;
        padding-top: 35px;
        padding-bottom: 70px;

        .logo {
            padding-top: 15px;
            margin-right: auto;
            margin-left: auto;
        }
        .title {
            font-size: 20px;
            color: @footer-title-color;
            font-weight: bold;
            margin-bottom: 40px;
        }
        ul {
            padding-top: 68px;
            padding-left: 0;
            li {
                margin-bottom: 15px;
                a {
                    color: #c6c6c6 !important;
                    padding-bottom: 2px;
                    &:hover, &.active {
                        text-decoration: none;
                        cursor: pointer;
                        border-bottom: 1px solid #c6c6c6;
                    }
                }
            }
        }
        i {
            margin-right: 15px;
        }
        .footer-contacts .contact-item {
            margin-bottom: 20px;
            padding-left: 0;
            i {
                font-size: 14px;
            }
        }
        .footer-socials .socials-item {
            margin-bottom: 20px;
            a:hover {
                color: @orange;
                cursor: pointer;
            }
        }
    }

    .copyright {
        background-color: @copyright-bg-color;
        font-family: 'Roboto', sans-serif;
        color: @white;
        text-transform: uppercase;
        font-size: @copyright-text-size;
        text-align: center;
        height: @copyright-height;
        line-height: 35px;
        i {
            margin-right: 5px;
        }
    }
}

@media screen and (max-width: 600px) {
    .footer-contacts {
        display: none;
    }
    .footer-socials {
        display: none;
    }
}