@navbar-active-li-color: #FFC702;
@navbar-li-color: #fff;
@navbar-bg-color: #3A3A3A;
@additional-information-height: 110px;
@navbar-height: 50px;

header{
    width: 100%;
    z-index: 10;
    position: sticky;
    top: 0;
    background-color: #fff;
}

#additional-information{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    font-size: 20px;
    text-align: center;
    height: @additional-information-height;
    background-color: #fff!important;

    .logo{
        flex-grow: 2;
    }
    .phone{
        flex-grow: 3;
        & i {
            padding: 3px 4px 2px 4px;
            border: 1px solid #ffc702;
            color: #ffc702;
            font-size: 17px;
            height: 28px;
            margin-right: 8px;
        }
    }
    .address{
        flex-grow: 4;

        & i {
            padding: 3px 4px 2px 4px;
            border: 1px solid #ffc702;
            color: #ffc702;
            font-size: 17px;
            height: 28px;
            margin-right: 8px;
        }
    }
    .call-order{
        flex-grow: 3;

         button{
            width: 271px;
            height: 57px;
            background: #FFC702;
            color: #fff;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 20px;
            text-align: center;
            border: none;
        }
    }
}

nav {
    padding-top: 13px;
    background-color: @navbar-bg-color;
    font-size: 15px;
    height: @navbar-height;
    text-align: center;

    .navbar-toggler .navbar-span{
        color: #fff!important;
    }
    .navbar-collapse{
        background-color: @navbar-bg-color;
        width: 100%;
    }

     ul {
         margin-right: auto;
         margin-left: auto;
         li {
             margin-left: 15px;
             margin-right: 15px;
             a {
                 padding-bottom: 4px!important;
                 color: @white !important;

                 &:hover, &.active {
                     color: @orange !important;
                     border-bottom: 2px solid @orange;
                     position: relative;
                     cursor: pointer;
                     text-decoration: none !important;

                     &::before, &::after {
                         content: "";
                         width: 5px;
                         height: 11px;
                         position: absolute;
                         bottom: -2px;
                     }
                     &::before{
                         left: -5px;
                         border-left: 2px solid @orange;
                         border-bottom: 2px solid @orange;
                     }
                     &::after {
                         right: -5px;
                         border-bottom: 2px solid @orange;
                         border-right: 2px solid @orange;
                     }
                 }
             }
         }
    }
}