@icons-area-height:297px;
@icons-area-bg: #FFD702;
@icons-area-text-size: 18px;
@icons-area-text-color: #000000;


#icons-area{
    padding-top: 35px;
    //height: @icons-area-height;
    background: @icons-area-bg;
    box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.3);

    text-align: center;
    font-size: @icons-area-text-size;
    color: @icons-area-text-color;
}
