@width: 350px;
@height: 300px;

.portfolio-item, .portfolio-item-only-photo {
    width: @width;
    margin-right: auto!important;
    margin-left: auto!important;
    margin-bottom: 30px;
    a {
        .img{
            height: @height;
            width: @width;
            img{
                height: @height!important;
                width: @width!important;
                object-fit: cover!important;
            }
            .hover-overlay {
                position: absolute;
                background: rgba(26, 26, 26, 0.71);
                height: @height;
                width: @width;
                opacity: 0;
                i{
                    margin-top: 138px;
                    color: @orange;
                    font-size: 40px;
                }
                //img{
                //    margin-top: 138px;
                //    width: 30px;
                //    height: 30px;
                //    object-fit: cover;
                //    //position: absolute;
                //    //z-index: 10;
                //}
            }
            &:hover .hover-overlay {
                opacity: 1;
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
                cursor: pointer;
            }
        }
    }
    .img-with-footer{
        width: @width;

        .img-footer a{
            width: 100%!important;
            background-color: #FFC702;
            color: #fff!important;
            text-transform: uppercase;
            font-size: 20px!important;
            text-align: left;
            padding: 0 12px;
        }
    }
    .description{
        font-size: 14px;
        color: #686868;
        text-align: left;
        margin: 20px 0;
        height: 60px;
        overflow: hidden;
    }
    .footer-portfolio-item{
        width: @width;
        border-bottom: 2px solid #FFC702;
        position: relative;
        overflow: auto;
        .date{
            font-size: 15px;
            color: #B9B9B9;
            float: left;
            display: inline-block;
            left: 0!important;
            i {
                margin-right: 10px;
            }
        }
        .cost{
            font-size: 20px;
            color: #FFC702;
            float: right;
            display: inline-block;
            right: 0!important;
            i{
                margin-right: 15px;
            }
        }
    }
}