
#publicity-area{
    background-image: url("../img/index-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 744px;
    width: 100%;
    padding-top: 45px;
    text-align: center;

    .title{
        font-weight: bold;
        font-size: 60px !important;
        color: #fff;
    }
     .subtitle{
        font-size: 20px !important;
        color: #fff;
    }
     form{
        margin-top: 20px;
        width: 443px;
        height: 360px;
        background: #FFFFFF;
        border: 2px solid #FFC702;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;

         .form-header{
            height: 86px!important;
            background: #FFC702;
            color: #FFFFFF;
            line-height: normal;
            /*padding-top: 5px;*/
             .form-title{
                font-size: 25px;
            }
            .form-subtitle{
                font-size: 17px;
            }
        }

         .form-content {
            padding: 60px 58px 37px 58px;

            input {
                height: 36px;
                background: #f6f6f6;
                border-radius: 0;
                border: none;
            }
            .icon {
                /*margin: 5px;*/
            }
             button{
                width: 196px;
                height: 38px;
                background: #FFC702;
                box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
                margin-top: 23px;

                color: #fff;
                font-weight: bold;
                font-size: 18px;
                text-transform: uppercase;
                border: none;
            }
        }
    }
}