.review-item{
    border-right: #FFC702 1px solid;
    border-bottom: #FFC702 1px solid;
    height: 250px;
    overflow: hidden;
    text-align: left;
    padding-bottom: 15px;
    padding-right: 15px;
    margin-bottom: 40px;

    .title{
        color: #3A3A3A;
        font-size: 17px;
        font-weight: bold;
    }
    .message{
        color: #686868;
        margin-top: 7px;
    }
    .img{
        float: left;
        margin-right: 10px;
        img{
            height: 100px;
            width: 100px;
            object-fit: cover;
        }
    }
}

