#service-description{
    margin-bottom: 70px;

    .description-title{
        text-align: center;
        font-size: 25px;
        padding-bottom: 0;
        margin-bottom: 30px;
    }
    #service-type{
        border-bottom: 1px solid #D9D9D9;
        border-top: 1px solid #D9D9D9;
        width: 100%!important;
        //height: 34px;
        text-align: center;
        margin-bottom: 30px;

        ul{
            padding: 0;
            li{
                margin: 10px 30px auto 6px;
                font-family: Roboto;
                font-weight: 300;
                font-size: 12px;
                display: inline-block;
                position: relative;
                .active{
                    color: #333333;
                    text-decoration: underline;
                }
                .list-item{
                    color: #4F4F4F;
                }
                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }
}

.content{
    text-align: left;
    .subtitle{
        font-size: 25px;
        font-weight: bolder;
        text-align: left!important;
    }
    .description{
        font-size: 20px;
        color: #3A3A3A;
    }
}

@img-width: 570px;
.img-with-footer{
    width: @img-width;

    .img-footer{
        width: 100%!important;
        background-color: #FFC702;
        color: #fff;
        text-transform: uppercase;
        font-size: 25px;
        text-align: left;
        i{
            margin: 0 20px;
        }
    }
}

.specific-service-description{
    margin-bottom: 80px;
}

@media (max-width: 720px) {
    #service-description #service-type ul li{
        display: block;
        text-align: center;
        font-size: 18px;
        margin-right: 0;
        margin-left: 0;
    }
}
//@media (min-width: 720px) {
//    #service-description #service-type ul li{
//        margin: 6px 30px auto 6px;
//        font-size: 12px;
//        text-align: center;
//        display: inline-block;
//        position: relative;
//    }
//}