#side-bar{
    text-align: left;
    margin-bottom: 40px;
    .list{
        list-style: none;
        padding: 0 10px 0 0;

        .list-item {
            background-color: #EFEFEF!important;
            height: 50px!important;
            width: 300px;
            font-size: 18px;
            border-bottom: 1px solid  #D9D9D9;
            padding:10px 10px 10px 20px;
            a{
                color: #3A3A3A!important;
            }
            &:hover a{
               color: #FFC702!important;
            }
            &:last-child {
                border-bottom: none !important;
            }
        }
        .active{
            border: 2px solid #FFC702!important;
            box-sizing: border-box;
            background-color: #FFC702!important;
            &:hover a {
                color: @white!important;
            }
            a {
                color: @white!important;
            }
        }
    }
}
@media (max-width: 720px) {
    #side-bar .list .list-item{
        width: 100%;
        text-align: center;
    }
}