.specific-portfolio-description{
    margin-bottom: 90px;
    .description-img{
        width: 570px;
        height: 422px;
    }
    .date{
        font-size: 15px;
        color: #B9B9B9;
        text-align: left;
        margin-bottom: 15px;
        i{
            margin-right: 10px;
        }
    }
}