

#work-types {
    padding-bottom: 80px;
    background-image: linear-gradient(45deg, #5d5d5d, #5d5d5d), url("../img/index-img-2.png");
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    //height: 640px;
    text-align: center;
    padding-top: 60px;

    .one-type{
        padding-top: 27px;
        width: 345px;
        height: 490px;
        background: #FFFFFF;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
        //margin-right: auto;
        //margin-left: auto;
        margin: 0 auto 40px auto;

         .img {
             margin:0;
             img{
                 height: 220px;
                 width: 100%;
                 object-fit: cover!important;
             }
        }

        .title a{
            font-weight: bold;
            font-size: 18px;
            text-transform: uppercase;
            margin-bottom: 20px;
            color: #333333!important;
        }

        .list {
            padding: 15px 50px;

            & .list-item {
                border-bottom: 1px solid  #FFC702;
                padding-top: 10px;
                padding-bottom: 15px;
                list-style-type: none;
                a{
                    color: #333333!important;
                    font-size: 18px;
                }
                &:last-child {
                    border-bottom: none !important;
                }
            }

        }
    }
}
