<a href="<?php echo $this->url(array(), 'home');?>" class="logo">
	<img alt="" class="img-responsive" src="
	    <?php echo $this->baseUrl() . DIRECTORY_SEPARATOR . $this->commonImage($this->logo); ?>">
</a>