<header>
  <section id="additional-information" class="container">
      <div class="logo ">
          <img src="<?php echo $this->baseUrl();?>/img/logo/headerLogo.png" class="img-responsive" />
      </div>
      <div class="phone d-none d-lg-block">
          <i class="fas fa-phone"></i>
          <?php echo $this->data['phone'];?>
      </div>
      <div class="address d-none d-lg-block">
          <i class="fas fa-map-marker-alt "></i>
          <?php echo $this->data['address'];?>
      </div>
      <div class="call-order d-none d-lg-block">
          <button type="button" data-toggle="modal" data-target="#callModal">Заказать звонок</button>
      </div>
  </section>

   <nav class="navbar navbar-expand-lg" style="margin-left: auto; margin-right: auto">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
              aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-span"><i class="fas fa-bars fa-1x"></i></span>
      </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="<?php echo ($this->alias == 'home' && $this->module == 'static') ? 'active' : '';?>">
                    <a href="<?php echo $this->url(array(), '/', true);?>">Главная</a>
                </li>
                <li class="<?php echo ($this->module == 'services') ? 'active' : '';?>">
                    <a href="<?php echo $this->url([], '/services', true);?>">Услуги</a>
                </li>
                <li class="<?php echo ($this->alias == 'about' && $this->module == 'static') ? 'active' : '';?>">
                    <a href="<?php echo $this->url(array('alias' => 'about'), '/static/index/index');?>">О компании </a>
                </li>
                <li class="<?php echo ($this->alias == 'contacts' && $this->module == 'static') ? 'active' : '';?>">
                    <a href="<?php echo $this->url(array('alias' => 'contacts'), '/static/index/index');?>">Контакты</a>
                </li>
                <li class="<?php echo ($this->module == '') ? 'portfolio' : '';?>">
                    <a href="<?php echo $this->url([], '/portfolio', true);?>">Портфолио</a>
                </li>
                <li class="<?php echo ($this->module == '') ? 'reviews' : '';?>">
                    <a href="<?php echo $this->url([], '/reviews', true);?>">Отзывы</a>
                </li>
            </ul>
        </div>
    </nav>
</header>