<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
    <div class="review-item">
        <div class="img">
              <img src="img/review/putin.jpg" class="img-responsive">
        </div>
        <div class="title">Романенко О.А</div>
        <div class="message">
            <p>Lorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской индустрииLorem Ipsum является текст-заполнитель обычно используется в графических, печать и издательской индустрии</p>
        </div>
    </div>
</div>